table{
  caption-side: top;
}
th, td{
  border: 1px solid black;
  padding: 10px;

}
caption{
  background-color: #0AD;
  font-weight: bold;
}

.sondage{
    float:right;
    padding-right: 150px;
}

.creation{
float:left;
padding-left: 150px;
}