<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org"
xmlns:sec="http://www.thymeLeaf.org/thymeLeaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Registration and Login</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css" />

<link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous">
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}">Registration and Login Module</a>
            <a class="navbar-brand" href="#" th:href="@{/msg}">Sondage</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/Logout}">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<br>
<br>
<div class="container">
    <h1>Bienvenue sur FiveAPP</h1>

    




    <h2>Cliquez sur sondage pour créer un sondage !</h2>

    <h3>Voici votre identifiant : </h3>
    <span sec:authentication="principal.username"></span>






</div>




</body>
</html>